# <center>Machine Learning Practical 2 </center>

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd 
data= pd.read_csv("student_scores.csv")
data.head(10)

     name  hours  score gender grades class
0   Aarav      8     76      M      A    9A
1    Riya      5     62      F      B    9B
2   Kabir     10     88      M      A   10A
3    Sana      4     55      F      C    9A
4  Vivaan      7     72      M      B   10B
5  Ishita      6     64      F      B    9C
6   Rohan      3     48      M      D    9B
7   Meera      9     90      F      A   11A
8  Aditya      2     38      M      F    9C
9   Kavya     11     93      F      A   12A

In [5]:
#3) Inspect columns and basic info
print('Columns:', data.columns.tolist())
print('\nInfo:')
print(data.info())
print('\nDescribe:')
display(data.describe())

Columns: ['name', 'hours', 'score', 'gender', 'grades', 'class']

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    92 non-null     object
 1   hours   92 non-null     int64
 2   score   92 non-null     int64
 3   gender  92 non-null     object
 4   grades  92 non-null     object
 5   class   92 non-null     object
dtypes: int64(2), object(4)
memory usage: 4.4+ KB
None

Describe:

           hours      score
count  92.000000  92.000000
mean    6.510870  68.836957
std     2.265336  15.692286
min     2.000000  35.000000
25%     5.000000  57.000000
50%     7.000000  70.000000
75%     8.000000  82.000000
max    11.000000  94.000000

# To Check The data is Having Null Values or Not

In [6]:
print(data.isnull().sum())

name      0
hours     0
score     0
gender    0
grades    0
class     0
dtype: int64

# to fill the missing/null value with using mean

In [8]:
data ["score"]= data["score"].fillna(data["score"].mean())

# to delete the null values

In [9]:
data=data.dropna()

# To Get The  No of Rows and column in the Data

In [10]:
data.shape

(92, 6)

# To  Get The info of the Data

In [11]:
data.info

<bound method DataFrame.info of        name  hours  score gender grades class
0     Aarav      8     76      M      A    9A
1      Riya      5     62      F      B    9B
2     Kabir     10     88      M      A   10A
3      Sana      4     55      F      C    9A
4    Vivaan      7     72      M      B   10B
..      ...    ...    ...    ...    ...   ...
87   Prisha      4     52      F      C    9A
88     Neil     10     88      M      A   12C
89    Rutvi      7     73      F      B   10A
90  Harshit      5     57      M      C    9B
91   Vritti      8     81      F      A   11B

[92 rows x 6 columns]>

# Complete Ness to Check the data is Null or not

In [13]:
data.isnull().sum()

name      0
hours     0
score     0
gender    0
grades    0
class     0
dtype: int64

# Consistent Check

In [14]:
data.dtypes

name      object
hours      int64
score      int64
gender    object
grades    object
class     object
dtype: object